.contact-information{
    padding: 10px;
    padding-top: 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #DE423A;
}

.contact-information .column__title{
    font-family: 'Pacifico', cursive;
    font-weight: 100;
}

.contact-information [class*="fa-"]{
    font-size: 1.3em;
    margin-right: 7px;
    position: relative;
    top: 0;
}

.contact-information .social-icon{
    justify-content: flex-start;
    margin-bottom: 10px;
}

.contact-information .social-icon [class*="fa-"]{
    margin-left: 0;
    margin-right: 35px;
}


/*Formulario*/

.formulario{
    padding: 10px;
    padding-top: 0;
}


.formulario__label,
.formulario__input-txt,
.formulario__textarea{
    display: block;
    width: 100%;
    
}

.formulario .formulario__label{
    padding-top:15px ;
}


.formulario__input-txt{
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.formulario__textarea{
    min-height: 100px;
    max-height: 100px;
    min-width: 100%;
    max-width:100% ;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}


.zona_botones{
    display: inline;

    flex-direction: row;
    flex-wrap: wrap;
}

.formulario__btn{
    border: none;
    cursor: pointer;
    font-size: 1em;
    
    
}

.btn_cancelar{
    
}

/*Responsive*/

@media screen and (min-width:480px){

    .contact .container--flex{
        align-items: flex-start;
    }

    .contact-information p{
        font-size: .90em;
    }

    .contact-information{
        border-right: 1px solid #DE423A;
        border-bottom: none;
    }

    .contact-information P{
        margin-bottom: 20PX;
    }

    .contact-information .social-icon [class*="fa-"]{
        margin-top: 15px;
    }
}


@media screen and (min-width:768px){
    
    .contact-information p{
        font-size: 1em;
    }

    .contact-information .column__title{
        font-size: 1.5em;
    }

    .contact-information .column__txt{
        line-height: 20px;
    }
}

@media screen and (min-width:1024px){
    .contact-information .column__txt{
        line-height: 25px;
    }
        
    .contact-information .parrafo-informacion{
        line-height: 25px;
    }
}

@media screen and (min-width:1600px){
    .contact-information .column__txt{
        line-height: 25px;
    }
        
    .contact-information .parrafo-informacion{
        line-height: 35px;
    }
}