

.body__plataforma{
    background:#F3F3F3;
}


.titulo__pagina{
    margin: 0 auto;
    padding: 30px 0 0 0;
    font-size: 1.8em;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
    max-width: 500px;
    text-align: center;
    
    border-bottom: 3px solid #00b8eb;
}

.contenedor__titulo{
   background: white;
   margin: 0;
   padding-bottom: 30px;
}

.cuadro__curso{
    background: white;
    margin-top: 30px;
    border-top: 8px solid tomato;
    border-radius: 5px 5px 0 0;
}

#A{
    border-top: 8px solid tomato;
} 

#B{
    border-top: 8px solid yellow;
}

#C{
    border-top: 8px solid dodgerblue;
}

#D{
    border-top: 8px solid #26dd10;
}








.bloqueado{

    background: rgb(223, 223, 223);
}

.bloqueado .btn--cuadro{
    visibility: hidden;
}
















.cuadro__curso:hover{
    box-shadow: 2px 2px 15px #666;
}

.titulo__curso{
    border-bottom: 1px solid #707070;
    padding: 20px;
}

.n--lecciones{
    color: teal;
    font-weight: 800;
    padding:10px;
}

.descripcion--curso{
    margin: 10px;
    padding-bottom: 30px;
}


.cuadro{
    cursor: pointer;
}


@media screen and (min-width:768px){
    .cuadro__curso{
        width:24%;
    }
}





#menu_desplegable{
    background:rgba(0,184,235,0.9);
    position: absolute;
    left: -300px;
    width: 350px;
    padding:10px;
    color:white;
    z-index:3;
}


#boton_menu_lecciones{
    font-size: 2em;
    text-align: right; 
    margin-bottom: -40px;
}

#icono{
    text-shadow: 4px 0px 1px tomato; 
    cursor: pointer; 
}

.nivel_leccion{
    border-bottom: 3px solid tomato;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
}

.icono_leccion{
    margin-left: 15px;
    margin-right: 10px;
}

#icono_nivel{
    font-size:.8em;
}

.leccion{
    font-weight: 700;
    cursor: pointer;
}





/******seccion de la leccion*******/

.slider_lesson{
    border: 1px solid red;
}


/************************/
.check-lesson{
    margin-top: 50px;
    display: flex;
    
}

.mycheckbox{
    margin-right: 10px;
}

.checkoff{
    color: blue;
    font-size: 1.2em;
    cursor: pointer;
}

.checkon{
    color: seagreen;
    font-size: 1.2em;
    cursor: pointer;
}

.btn-next{
   width: 18%; 
    
}