.group__articulo .container{
    background: none;
    color:black;
    padding: 10px;
    text-align: justify;
}

.titulo__articulo{
    margin: 15px 0;
    font-size: 1.8em;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
    text-align: center;
}

.contenedor_imagen_articulo{
    width: 100%;
}

.contenedor_variasimagenes{
    width: 300px;
    height: 250px;
    margin-top: 10px;
    margin-left: 25px;
    align-content: center;
}

.artefactos_inlineflex{
    display: inline-flex;
}

.contenedor_parrafos{
    margin-left: 25px;
}

/**************************************************/
@media screen and (min-width:480px){
    .contenedor_imagen_articulo{
        width: 80%;
        margin: auto;
    }
}

@media screen and (min-width:768px){
     .contenedor_imagen_articulo{
        width: 65%;
        
    }
}

@media screen and (min-width:1024px){
    .contenedor_imagen_articulo{
        width: 50%;
    }
}


@media screen and (min-width:1600px){
    .contenedor_imagen_articulo{
        width: 40%;
    }
}